# Java
*.class
*.xml
*.iml
doc/
bin/
src/com/luckycatlabs/
jena-log4j.properties

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Python
*.py[co]
*.pot

# Packages

*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

#Dev tools
.project
.pydevproject
.settings/
*.iml
.idea

# Backup files
*~

